html, body {
  background-color: #33404D;
  padding: 0;
  margin:0;
}

html, body, p, div, input {
  font-family: 'Minecraft';
  color: #fff;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin: 8px 0;
  text-decoration-skip-ink: none;
}

body {
  display: flex;
  justify-content: center;
}

input {color: #000 !important;}

@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  src: url(./fonts/MinecraftRegular-Bmg3.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  src: url(./fonts/MinecraftBold-nMK1.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Minecraft';
  font-style: italic;
  src: url(./fonts/MinecraftBoldItalic-1y1e.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Minecraft';
  font-style: italic;
  src: url(./fonts/MinecraftItalic-R8Mo.ttf);
  font-weight: normal;
}

.reg-text {
  margin: 0;
  line-height: 150%;
}

.tech {
  position: absolute;
  left: 24px;
}

.mc-a7 {color: #b4b4b4;}

.mc-a6 {color: #FFAA00;}

.mc-aa {color: #55FF55;}

.mc-ab {color: #55FFFF;}

.mc-ac {color: #FF5555;}

.mc-an {text-decoration: underline; text-decoration-skip-ink: none;}

.mc-al {font-weight: bold !important;}

.container {
  width: 400px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 16px;
}

.choices {
  display: flex;
  justify-content: space-between;
}

#text-input, #para {
  width: 400px;
  max-width: 400px;
  height: auto;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.copy-button-list button {
  display: inline-block;
  padding: 8px 8px;
  font-family: 'Minecraft';
  font-size: 1.125em;
  height: 3em;
}

#length-monitor {
  transition: 0.1s;
  margin: 0;
  overflow: hidden;
}

.hidden {
  height: 0;
}

#demo {
  font-size: 2em;
  background-color: #1b0c1b;
  padding: 2px 8px 0px 8px;
  border: 3px solid #2c0a5f;
  margin: 0;
  box-sizing: border-box;
}

.i-b {
  font-weight: bold;
}

.i-i {
  font-style: italic;
}

.i-u {
  text-decoration: underline;
}

button,
input,
label {
  cursor: pointer;
}

.color-entry {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: #e7e7e7;
}

.color-entry::-webkit-color-swatch {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  overflow: hidden;
}
.color-entry::-moz-color-swatch {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  overflow: hidden;
}

.color-entry-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.q-red {color: #ee3e3e}
.q-amber {color: #ee843e}
.q-yellow {color: #eeeb3e}
.q-green {color: #67ee3e}

.color-controls button {
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 1399px) {
  .tech {
    position: relative !important;
    left: 0 !important;
  }
}

button#copy-croc-two span {
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 100%;
}

#copy-croc-two span::after {
  content: 'Work in progress';
  /*color: green;*/
  color: red;
  left: 50%;
  top: calc(50% + 1.125em);
  font-size: 0.75em !important;
  line-height: 0.75em;
}